<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741785810462-nbie2eraqq4f1n5gkmp723ned6p1u8h6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741785810462-nbie2eraqq4f1n5gkmp723ned6p1u8h6</string>
	<key>API_KEY</key>
	<string>AIzaSyDAIq7vDjO6eJHo-1KxWq5J_dk9naW4Mf4</string>
	<key>GCM_SENDER_ID</key>
	<string>741785810462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cerashealth.ceras</string>
	<key>PROJECT_ID</key>
	<string>ceras-4aba7</string>
	<key>STORAGE_BUCKET</key>
	<string>ceras-4aba7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741785810462:ios:fa600c457155a215f9a00f</string>
	<key>DATABASE_URL</key>
	<string>https://ceras-4aba7.firebaseio.com</string>
</dict>
</plist>